/* CAROUSEL */
#roundb {
	width: 100%;
}
  .roundabout-holder {
  	  position:relative;
      list-style: none;
      padding: 0;
      margin: 0;
      height: 15em;
      width: 15em;
   }
   .roundabout-moveable-item {
 	  position:absolute;
      height: 14em;
      width: 14em;
      cursor: pointer;
     
      border: 1px solid #999;
   }
   .roundabout-in-focus {
      cursor: auto;
   }
.roundb{
	
}

.ui360, .ui360-vis{
 position: absolute; 
	top: 18em;
	left: 20em;
	z-index: 360;  /* the z-index is set to 350 for the player */
}

.roundbplayer {
		position:absolute;
		border: 5px solid #999;
		width:auto;
		height:200px;
}
ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		width: 42em;
		height: 28em;
	}			
li {
 	height: 24em;
 	width: 24em;
 	text-align: center;
 	cursor: pointer;
 	}	

	
	li.roundabout-in-focus {	
					cursor: default;			
			}	
	li span {			
		display: block;	
		padding-top: 6em;	
	}			
	
