/*
 * Custom CSS
 */
 
/* Header */


#mainNav{
	color: #FFFFFF;
}

#logoSec{
 width:20%; 
 float:left; 
 position:relative; 
  }
 
#twocols{
 width:80%; 
 float:right; 
 position:relative; 
  }
 
#login{
 width:25%; 
 float:right; 
 position:relative; 
 }
 
#player{

 float: left; 
  position: relative; 
  text-align:center;
 width:75%; 
 }
 
 .listMix{
 border:solid 5px #000000;
-moz-border-radius: 18px;
-webkit-border-radius: 18px;
border-radius: 18px;
height:500px;
overflow: scroll;
}

 .listMixElem{
 width:85%;
 height:100px;
 overflow:hidden;
 padding: 15px;
  margin: 0px auto;
 margin-top:15px;

 border:solid 5px #000000;
-moz-border-radius: 18px;
-webkit-border-radius: 18px;
border-radius: 18px;}