/*
 * Custom CSS
 */
 
/* Header */


#mainNav{
	color: #FFFFFF;
}

#logoSec{
 width:20%; 
 float:left; 
 position:relative; 
  }
 
#twocols{
 width:80%; 
 float:right; 
 position:relative; 
  }
 
#login{
 width:25%; 
 float:right; 
 position:relative; 
 }
 
#player{

 float: left; 
  position: relative; 
  align:center;
 width:75%; 
 }