/* -------------------- INFO -------------------- * /
/*  
Author: Julio Peral 
URL: jeplon.co.uk 
Date: 2012

-------------------- CREDITS NOTES ------------------


-Reset: Eric Meyer"s Reset Reloaded - thanks, Eric :D -
			 http://meyerweb.com/eric/tools/css/reset/ 
  			 v2.0 | 20110126
  			 License: none (public domain)

-------------------- TEMPLATE NOTES ------------------


------------------------- END INFO NOTES ---------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:focus {
	outline: 0;
}
body {
	color: #000;
	font-family: Verdana, sans-serif;
	font-size: 100%;
	line-height: 1.4;
	background: #fff;
}
/* -------------------------------------------------------------
FONT Styling
------------------------------------------------------------------*/


/* -------------------------------------------------------------
Start general Styling
------------------------------------------------------------------*/
a:link, a:visited {
	text-decoration: none;
	color: #68466B;
}
a:hover, a:active, a:focus {
	color: #1C397B;
}
/* -------------------------------------------------------------
Wrap Styling
------------------------------------------------------------------*/
#wrap {
	overflow: hidden;
	margin: 0 auto;
}

/* -------------------------------------------------------------
header Styling
------------------------------------------------------------------*/
header {
	width: 100%;
	height: 11em;
	background: #fff; 	
	overflow: hidden;
	padding: .5em;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 3px solid #ddd;
}
nav, #login {
	width: 18%;
	height: 8em;
	float: left; 
	text-align: center;
	padding: 0em 0 2em 0;
}
nav {
	border-right: 3px solid #ddd; 
}
nav h1 {
	font-size: 2em;
	margin: 0 0 .5em 0;
}
nav span, section ul li span.respond {
	background: #fff;
	border: 2px solid #000;
	cursor: pointer;
	border: 2px solid #000;
	color: #1C397B;
	padding: .3em 1.5em;
	-o-box-shadow: 5px 5px 5px #000;
	-moz-box-shadow: 5px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	box-shadow: 5px 5px 5px #000;
}
nav span:hover, section ul li span.respond:hover {
	background: #1C397B;
	color: #fff;
}
nav span.b, nav span.c, nav span.d {
	display: none;
}
nav ul li {
	background: url(../img/passion.jpg) no-repeat;
	background-size: 100%;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	cursor: pointer;
	margin: 0 0 1em 0;
}
nav ul li.a:hover {
	background: url(../img/bep.jpg) no-repeat;
	background-size: 100%;
}
nav ul li.b:hover {
	background: url(../img/second.jpg) no-repeat;
	background-size: 100%;
}
nav ul li.c:hover {
	background: url(../img/four.jpg) no-repeat;
	background-size: 100%;
}
nav ul li.d:hover {
	background: url(../img/bep.jpg) no-repeat;
	background-size: 100%;
}
#login {
	border-left: 3px solid #ddd;
	padding: 1em 0 1em 0;
}
#loginA, #loginB {
	background: #fff;
	border: 2px solid #000;
	font-size: 1em;
	width: 90%;
	height: 35px;
	padding: 7px 0 13px 0;
	margin: 1.5em 5% 0 15%;
	-o-box-shadow: 5px 5px 5px #000;
	-moz-box-shadow: 5px 5px 5px #000;
	-webkit-box-shadow: 5px 5px 5px #000;
	box-shadow: 5px 5px 5px #000;
}
#loginA:hover, #loginB:hover {
	background: #1C397B;
	color: #fff;
}
#player {
	width: 60%;
	float: left;
	text-align: center;
}
#player ul {
	margin: 0 auto;
}
#player ul li {
	
}
#player ul li img {
	width: 110px;
	height: auto;
	float:;
}
/* -------------------------------------------------------------
Content section Styling
------------------------------------------------------------------*/
#content {
	width: 100%;
	background: ;
	padding: 15em 7% 0 6%;
	float: left;
}
section {
	width:40%;
	min-width: 500px;
	float: left;
}
section h2 {
	width: 10px;
}
section span.sortBy {
	float: right;
	margin: ;
}
section ul {
	background: #;
	width: 100%;
	height: 550px;
	float:left;
	border: 2px solid #000;
	margin: .2em 0 3em 0;
	padding: 1em;
	overflow-y: scroll;
}
section ul li {
	float: left;
	width: 90%;
	height: 7.5em;
	display: block;
	border: 2px solid #000;
	margin: 1em;
	padding: .5em;
}
section ul li h3 {
	font-size: 1.5em;
	float: left;
	border-bottom: 1px solid #000;
	font-style: italic;
}
section ul li a.more {
	float: left;
	margin: 6.4em .5em 0 -3em;
	cursor: pointer;
}
section ul li span.respond {
	float: right;
	margin: 5.5em -7em 0 0em;
}
section ul li a#icons {
	float: right;
	background: url(../img/passion.jpg) no-repeat;
	background-size: 100%;
	width: 30px;
	height: 30px;
	margin: 0 0 0 .5em;
}
section img {
	width: 120px;
	height: auto;
	float: left;
	margin: 0 .5em 0 0;
}
#requests {
	margin: 0 6% 0 0;
}
#responses {

}
/* -------------------------------------------------------------
footer Styling
------------------------------------------------------------------*/
footer {
	background: #ccc;
	width: 100%;
	text-align: center;
	clear: left;
}
footer p {
	padding: 1em 0;
}
/*===============================================================
MEDIA QUERIES
===============================================================*/

/*===============================================================
STANDARD SIZE : DESKTOP / LAPTOP
===============================================================*/

@media (max-width: 1024px) {
	body {
		
	}
	
	/*===============================================================
	NAV
	===============================================================*/
	
	nav {
	
	}
	
	/*===============================================================
	CONTENT
	===============================================================*/
	
	content {
		
	}
	
	/*===============================================================
	FOOTER
	===============================================================*/
	
	footer {
		
	}
}

/*===============================================================
MOBILE
===============================================================*/
@media (max-width: 1024px) {
	body {
		
	}
	
	/*===============================================================
	HEADER
	===============================================================*/
	header  {
		
	}
	
	/*===============================================================
	NAV
	===============================================================*/
	nav {
	
	}
	
	/*===============================================================
	CONTENT
	===============================================================*/
	
	content {
		
	}
	
	/*===============================================================
	FOOTER
	===============================================================*/
	
	footer {
		
		
	}

}
